.DS_Store

# Zsh
.zsh_history
.zcompdump
.zcompdump-*

# Vim
Session.vim
dot_vim/plugged/

# Neovim
dot_config/nvim/lazy-lock.json
dot_config/nvim/plugin/packer_compiled.lua

# Lazygit
dot_config/lazygit/state.yml
